<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloAba %></title>
</head>
<body>
    
    <h1><%= tituloPagina %></h1>
    <form action="/nova-tarefa" method="post">

        <input type="hidden" name="id_tarefa" id="id_tarefa"
        value="<%= id_tarefa%>">
        
        <label for="tarefa">Tarefa:</label> <br>
        <textarea name="tarefa" id="tarefa"></textarea> <br>
        <label for="prazo">Prazo:</label> <br>
        <input type="date" name="prazo" id="prazo"> <br>
        <label for="situacao">Situação:</label> <br>
        <select name="situacao" id="situacao">
            <option value="0">Cancelada</option>
            <option value="1">Pendente</option>
            <option value="2">Inicada</option>
            <option value="3">Finalizada</option>
            <option value="4">Atrasada</option>
        </select> <br>
        <button type="submit">Salvar</button>
    </form>

</body>
</html>